*{
    margin: 0;
    padding: 0;
}
.grid {
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
}