:root {
    --square-background-color: #CDC1B4;
    --square-border-color: #BBADA0;
    --number-color: #776E65;
}

*{
    margin: 0;
    padding: 0;
}
.container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.grid {
    border: 7.5px solid var(--square-border-color);
}

.grid-row {
    display: flex;
}

.grid-square {
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 107px;
    height: 107px;
    background-color: var(--square-background-color);
    border: 7.5px solid var(--square-border-color);
}

.grid-square__number {
    font-size: 3rem;
    color: var(--number-color);
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
}